body {
    background-color:#EAE9E9;
    padding-top:60px;
}
#buscar{
    height: 180px;
    width:270%;
    Margin-left:20px;
}
@media only screen and (max-width: 992px) {
    #buscar {
        width:255%;
    }
}
@media only screen and (max-width: 767px) {
    #buscar {
        width:100%;
        height:60px;
        padding-left:0px;
        padding-right: 0px;
        margin-bottom:45px;
        Margin-left:0px;
        }
    .divbuscar {
    top:0px;
}
}
@media only screen and (max-width: 658px) {
    #UsuarioA {
        display:none;
    }
    #PassA {
        display:none;
    }
    #fi {
        display:none;
    }
    #fr {
        display:none;
    }
}

#cabecera {
    position:absolute;
    left:0px;
    top:0px;
    z-index:100;
    background-color: #577284;
    width: 100%;
    height:54px
}

#cabecera a {
    margin-top:10px;
    margin-bottom:10px;
    height:32px;
    float: right;
    margin-right:15px;
}
#boton {
    position:relative;
    top:20px;
    margin-bottom:0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}